* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.barra-navegacion-arriba {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navegacion-izquierda {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 1%;
}

.navegacion-izquierda a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navegacion-izquierda a:hover {
  color: rgba(255, 0, 0, 0.494);
  text-decoration: underline;
  font-size: 1rem;
}

.barra-navegacion-arriba .nombre-empresa-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: -15%;
}

.barra-navegacion-arriba .nombre-empresa-nav p {
  color: white;
}

.redes-sociales-nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 1%;
}

.fa-brands.fa-instagram {
  color: white;
}

.fa-brands.fa-twitter {
  color: white;
}

.fa-brands.fa-linkedin {
  color: white;
}

.fa-brands.fa-instagram:hover {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-brands.fa-twitter:hover {
  background: linear-gradient(45deg, #1da1f2, #0d8ddb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-brands.fa-linkedin:hover {
  background: linear-gradient(45deg, #0077b5, #005582);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-solid.fa-bars {
  display: none;
  color: white;
}

.contenedor-img {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.contenedor-img img {
  width: 100%;
  height: 104%;
  object-fit: cover;
}

.nombre-empresa,
.slogan {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nombre-empresa {
  top: 45%;
  font-size: 1.5rem;
}

.slogan {
  top: 55%;
  font-size: 1.2rem;
}

.contenedor-grande {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 -1px 4px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease;
}

.contenedor-grande:hover {
  transform: scale(1.005);
}

.contenedor-imagen {
  width: 80%;
  height: 300px;
  overflow: hidden;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -15%;
}

.contenedor-titulo {
  text-align: center;
}

.contenedor-titulo h5 {
  font-size: 1.5rem;
}

.contenedor-texto-explicativo p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-info {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(108, 117, 125, 0.3);
}

.boton-info:hover {
  background-color: #5a6268;
  transform: scale(1.01);
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0; 
  font-family: Arial, sans-serif; 
  margin-top: 5%;
}

.footer-container {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.footer-info,
.footer-links,
.footer-social {
  flex: 1; 
  margin: 10px;
}

.footer-info h2 {
  margin-bottom: 10px; 
}

.footer-links h3,
.footer-social h3 {
  margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
  list-style: none; 
  padding: 0; 
}

.footer-links a,
.footer-social a {
  color: #fff; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.footer-links a:hover,
.footer-social a:hover {
  color: rgba(255, 0, 0, 0.7); 
}

.footer-bottom {
  text-align: center; 
  margin-top: 20px;
  font-size: 0.9rem; 
}


@media (max-width: 768px) {
  .barra-navegacion-arriba {
    width: 100%;
  }

  .contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fa-solid.fa-bars {
    display: block;
    position: absolute;
    left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navegacion-izquierda,
  .redes-sociales-nav,
  .nombre-empresa-nav p {
    display: none;
  }

  .navegacion-izquierda a:hover {
    text-decoration: underline;
    color: red;
    font-size: 1.2rem;
  }

  .menu-activo {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: -0.5%;
    left: -3%;
    width: 102%;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 15px 0;
    z-index: 999;
    margin-top: 14%;
  }

  .menu-activo a {
    text-decoration: none;
    padding: 8.25px;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
  }

  .menu-activo a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .contenedor-grande {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
  }

  .contenedor-imagen {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .contenedor-imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .contenedor-texto {
    margin-left: 0;
    align-items: center;
  }

  .contenedor-texto-explicativo p {
    text-align: justify;
  }

  .contenedor-titulo h5 {
    font-size: 1.5rem;
    width: 100%;
  }

  .contenedor-boton {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .boton-info {
    width: 100%;
    max-width: 300px;
  }

}
